{% load static %}

{% block body %}

{% include 'recruiter_navigation.html' %}

<script>
    function checkpass() {
        const newPassword = document.changepassword.newpassword.value;
        const confirmPassword = document.changepassword.confirmpassword.value;

        if (newPassword !== confirmPassword) {
            alert('New Password and Confirm Password do not match');
            document.changepassword.confirmpassword.focus();
            return false;
        }
        return true;
    }
</script>

<marquee style="font-family: 'Monotype Corsiva'; font-size: 25px; color: white; background-color: black; font-weight: bold; margin-top: 1%;">
    Change Password
</marquee>

<hr>

<div class="container mt-5 shadow-lg p-4" style="background-color: #ffffff; border-radius: 10px; margin-bottom:72px;">
    <form method="post" name="changepassword" onsubmit="return checkpass()">
        {% csrf_token %}
        
        <div class="form-group mb-3">
            <label for="currentpassword" class="font-weight-bold">Current Password</label>
            <input type="password" class="form-control" id="currentpassword" name="currentpassword" required>
        </div>
        
        <div class="form-group mb-3">
            <label for="newpassword" class="font-weight-bold">New Password</label>
            <input type="password" class="form-control" id="newpassword" name="newpassword" required>
        </div>
        
        <div class="form-group mb-3">
            <label for="confirmpassword" class="font-weight-bold">Confirm New Password</label>
            <input type="password" class="form-control" id="confirmpassword" name="confirmpassword" required>
        </div>

        <button type="submit" class="btn btn-primary my-3" style="width: 200px; height: 40px; font-size: 20px;">
            Change Password
        </button>
    </form>
</div>

{% if error == "no" %}
<script>
    alert("Password changed successfully");
    window.location.href = ("{% url 'Logout' %}");
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert("Something went wrong, try again");
</script>
{% endif %}

{% if error == "not" %}
<script>
    alert("Your current password is incorrect");
</script>
{% endif %}
{% include 'footer.html' %}
{% endblock %}
