{% load static %} {% block body %} {% include 'navigation.html' %}

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.6.3/css/all.min.css"
/>

<style>
   
  .mydiv {
    transition: transform 0.3s, box-shadow 0.3s;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background-color: #f9f9f9;
    text-align: center;
    margin-bottom: 20px;
    transform: translateY(0);
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 60vh;
  }

  .mydiv:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    transform: translateY(-10px);
  }

  .fa-icon {
    font-size: 30px;
    color: darkcyan;
  }
</style>

<section class"contact_container">
  <div class="row mt-5">
    <div class="col-sm-3">
      <div class="mydiv">
        <h4><i class="fas fa-phone-square fa-icon"></i> Contact</h4>
        <p>984821113</p>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="mydiv">
        <h4><i class="fas fa-envelope fa-icon"></i> Email ID</h4>
        <p>saugatpoudel10@gmail.com</p>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="mydiv">
        <h4><i class="fas fa-address-card fa-icon"></i> Address</h4>
        <p>Pokhara</p>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="mydiv">
        <h4><i class="fas fa-clock fa-icon"></i> Office Timing</h4>
        <p>10:00 A.M. to 5:00 P.M</p>
      </div>
    </div>
  </div>
</section>

{% include 'footer.html' %} {% endblock %}
