{% load static %}

{% block body %}

{% include 'recruiter_navigation.html' %}
<style>
    section form{
        width: 80vh;
        font-size: 16px;
        padding: 25px 30px  ;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid #e7e7e7;
        border-radius: 20px;
        background-color:#fff;
        margin-top:-15px;
    }
    form div {
        margin-bottom: 8px;
    }
    

</style>
<section>
<marquee style="font-family: 'Monotype Corsiva'; font-size: 25px; color: white; background-color: black; font-weight: bold;">
    Edit Job Details
</marquee>
<form class="container"  method="post" enctype="multipart/form-data">
    {% csrf_token %}
   

    <div class="form-row">
        <div class="form-group col-md-12" >
             <label>Job Title</label>
             <input type="text" class="form-control" name="jobtitle" value="{{job.title}}" required>
        </div>
        

    </div>
  
    <div class="form-row">
        <div class="form-group col-md-6" >
             <label>Start Date</label><span style ="color: red";> [{{job.start_date}}]</span>
             <input type="date" class="form-control" name="startdate"  >
        </div>
        <span class="form-group col-md-6" >
            <label>End date</label><span style ="color: red";>[{{job.end_date}}]</span>
            <input type="date" class="form-control" name="enddate" >
       </div>

    </div>

    <div class="form-row">
        <div class="form-group col-md-6" >
             <label>Salary(Per Month)</label>
             <input type="text" class="form-control" name="salary" value="{{job.salary}}"  required>
        </div>
        <div class="form-group col-md-6" >
           <img src="{{job.image.url}}" width="120" height="90"> <a href="{% url 'change_companylogo' job.id %}">Change Company logo</a>
       </div>

    </div>
     
    <div class="form-row">
        <div class="form-group col-md-6" >
             <label>Experience(In Years)</label>
             <input type="text" class="form-control" name="experience" value="{{job.experience}}"  required>
        </div>
        
        <div class="form-group col-md-6" >
            <label>Company Location</label>
            <input type="text" class="form-control" name="location" value="{{job.location}}" required>
       </div>    

    </div>

    <div class="form-row"></div>
        <div class="form-group col-md-12" >
             <label>Skills</label>
             <input type="text" class="form-control" name="skills" placeholder="Skills Required" value="{{job.skills}}" required>
        </div>
        

    </div>

    <div class="form-row"></div>
    <div class="form-group col-md-12" >
         <label>Description</label>
         <textarea type="text" class="form-control" name="description" required>{{job.description}}</textarea>
    </div>
    



    <input type="submit" class="btn btn-primary my-3" style="width: 200px;">
</form>
</section>


{% if error == "no" %}
<script>
    alert("Job detail has been Updated.");
    window.location.href = ("{% url 'edit_jobdetail' job.id %}");
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert("Something went wrong");
    
</script>
{% endif %}





{% endblock  %}

