{% load static %} {% block body %} {% include 'navigation.html' %}

<style>
 .hero{
    background-color: #dfeff8;
    height: 90vh;
 }

    .banner {
      height: 80vh;
      background-size: cover;
      color: #fff;
      display: flex;
      flex-direction: flex-start;
      justify-content: space-between;
    }
    .banner .banner_img{
        text-align: left;
        opacity: 0.8;
        width: 100%;
        height: 100%;
        object-fit: cover;
        height: 90vh;

    }
    .banner .banner_content{
        height: 80vh;
        width: 100%;
        font-weight: bold;
        padding: 50px;
    }

    .banner h1 {
      font-size: 50px;
      font-weight: 600;
      color: #000;
      text-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    }

    .banner p {
      padding-top: 15px;
      line-height: 150%;
      font-size: larger;
      color: #000;
      text-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    }
    @media (max-width: 321px) {
      .banner p {
        display: none;
      }
      .search-job {
        margin-top: -20px;
      }
    }
    /* search bar */

    .search-job {
      padding: 25px 30px  ;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-image: linear-gradient(to right, #b3b3b3, #57606f);
      border-radius: 20px;
      margin-top: 50px;
    }
    @media (max-width: 514px) {
      .search-job {
        margin-top: -15px;
      }
    }
    .search-job .form-control {
      max-width: 250px;
      width: 240px;
      display: inline-flex;
      margin: 10px 5px;
      height: 50px;
      border-radius: 25px;
      box-shadow: none !important;
      border: none !important;
      padding: 10px 20px;
      overflow: hidden;
    }

    .search-job .btn-primary {
      width: 150px;
      border-radius: 25px;
      box-shadow: none !important;
      border: none;
      height: 50px;
      margin: 5px;
      padding: 5px 20px;
      display: table-cell;
      vertical-align: middle;
    }

    .search-job .btn-primary:hover {
      border: 1px solid yellow;
    }
  }
</style>
<main class="hero">
  
  <div class="banner text-center">
    <div class="banner_img">
      <img src="{% static 'images/hero.jpg' %}" alt="Job Image" />
    </div>
    <div class="banner_content">
    <h1>
      <span style="color: blue; font-size: 1.7em">1000+</span> Jobs on Jobsite
    </h1>
    <p>
      With verified, up-to-date job listings directly from employer websites,<br />

      we create a premium experience for job seekers, employers,<br />

      Quickly find and apply for the jobs you want
    </p>
    <div>
  </div>

  <!-- search box -->
  <div class="search-job text-center">
    <input
      type="text"
      class="form-control"
      placeholder="Skills, Job Title, Designation"
    />
    <input type="text" class="form-control" placeholder="Location" />
    <input type="text" class="form-control" placeholder="Experience" />
    <input type="button" class="btn btn-primary" value="Search" />
  </div>
</main>
{% include 'footer.html' %}
{% endblock %} 
