{% load static %} {% block body %} {% include 'navigation.html' %}
<style>
   
    .signup-content{
        
    }
    .signup-content{
        display: flex;
        align-items: center;
        background-size: cover;
        overflow: hidden;
        height: 90vh;
        width: 100%;
        font-size: 20px;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: flex-start;
    }
    .signup-content form{
        width: 90vh;
        padding: 25px 30px  ;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid #e7e7e7;
        border-radius: 20px;
    }
    form div {
        margin-bottom: 7px;
    }
    .signup_image img{
        text-align: left;
        opacity: 1;
        object-fit: cover;
        height: 90vh;
    }
</style>

<section class="signup-content">
    <div class="signup_image">
      <img src="{% static 'images/signup.jpg' %}" alt="Job Image" />
    </div>
<div >
  <form
    onsubmit="return checkpass();"
    name="signup"
    method="post"
    enctype="multipart/form-data"
  >
    {% csrf_token %}

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="fname">First Name</label>
        <input
          type="text"
          class="form-control"
          name="fname"
          id="fname"
          placeholder="Enter first name"
          required
        />
      </div>
      <div class="form-group col-md-6">
        <label for="lname">Last Name</label>
        <input
          type="text"
          class="form-control"
          name="lname"
          id="lname"
          placeholder="Enter last name"
          required
        />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="contact">Contact</label>
        <input
          type="text"
          class="form-control"
          name="contact"
          id="contact"
          placeholder="Enter Contact Number"
          required
        />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="email">Email ID</label>
        <input
          type="email"
          class="form-control"
          name="email"
          id="email"
          placeholder="Enter Email Id"
          required
        />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="pwd">Password</label>
        <input
          type="password"
          class="form-control"
          name="pwd"
          id="pwd"
          placeholder="Enter Password"
          required
        />
      </div>
      <div class="form-group col-md-6">
        <label for="cpwd">Confirm Password</label>
        <input
          type="password"
          class="form-control"
          name="cpwd"
          id="cpwd"
          placeholder="Enter Password Again"
          required
        />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Gender</label>
        <div class="custom-control custom-radio custom-control-inline">
          <input
            type="radio"
            id="genderMale"
            name="gender"
            class="custom-control-input"
            value="Male"
            required
          />
          <label class="custom-control-label" for="genderMale">Male</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input
            type="radio"
            id="genderFemale"
            name="gender"
            class="custom-control-input"
            value="Female"
            required
          />
          <label class="custom-control-label" for="genderFemale">Female</label>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="image">Image</label>
        <input type="file" class="form-control" name="image" id="image" />
      </div>
    </div>

    <input
      type="submit"
      class="btn btn-primary my-3"
      style="width: 200px"
      value="Sign Up"
    />
  </form>
</section>
<script>
  function checkpass() {
    const password = document.signup.pwd.value;
    const confirmPassword = document.signup.cpwd.value;
    if (password !== confirmPassword) {
      alert("Passwords do not match");
      document.signup.cpwd.focus();
      return false;
    }
    return true;
  }
</script>
  {% if error == "no" %}
  <script>
    alert("Signup Successful");
    window.location.href = "{% url 'user_login' %}";
  </script>
  {% endif %} {% if error == "yes" %}
  <script>
    alert("Something went wrong. Please try again.");
  </script>
  {% endif %} {% endblock %}
</div>
